<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/styles/main.css">
</head>
<body>
    <aside class="client-sidebar" aria-label="Client sidebar">
    <a href="../client/home.html" class="client-sidebar__logo">
        <img src="../assets/img/logo.svg" alt="Filmalisa logo">
    </a>

    <nav class="client-sidebar__icons" aria-label="Main navigation">
        <a href="../client/home.html" class="client-sidebar__icon" aria-label="Home">
        <img src="../assets/img/client-sidebar-icons/home.svg" alt="">
        </a>

        <a href="../client/detailed.html" class="client-sidebar__icon" aria-label="Detailed">
        <img src="../assets/img/client-sidebar-icons/detailed.svg" alt="">
        </a>

        <a href="../client/account.html" class="client-sidebar__icon" aria-label="Account">
        <img src="../assets/img/client-sidebar-icons/account.svg" alt="">
        </a>

        <a href="../client/favorite.html" class="client-sidebar__icon" aria-label="Favorite">
        <img src="../assets/img/client-sidebar-icons/favorite.svg" alt="">
        </a>
    </nav>
</aside>
</body>
</html>